<div class="container">
  <form method="post" action="/members">
    <div class="row">
      <div class="col-25">
        <label for="first_name">First Name:</label>
      </div>
      <div class="col-75">
        <input id="first_name" type="text" name="first_name"/>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="last_name">Last Name:</label>
      </div>
      <div class="col-75">
        <input id="last_mame" type="text" name="last_name"/>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="contact_number">Conctact Number:</label>
      </div>
      <div class="col-75">
        <input id="contact_number" type="text" name="contact_number"/>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="email">Email:</label>
      </div>
      <div class="col-75">
        <input id="email" type="text" name="email"/>
      </div>
    </div>
    <label>Premium
      <input type="radio" checked="checked" value="1" name="premium">
      <span class="checkmark"></span>
    </label>
    <label>Non premium
      <input type="radio" value="0" name="premium">
      <span class="checkmark"></span>
    </label>

    <div class="row">
      <input class="submit-button" type="submit" value="Submit">
    </div>
  </form>
</div>
