<!DOCTYPE html>
<html>
<head>
  <title>Gym Project</title>
  <link rel="stylesheet" href="/styles/buttons.css">
  <link rel="stylesheet" href="/styles/forms.css">
  <link rel="stylesheet" href="/styles/tables.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/bookings.css">
</head>
<body>
  <div class="main">
    <nav>
      <div class="menu">
        <ul>
          <a class="" href="/">Home</a>
        </ul>
      </div>
    </nav>
  </div>
  <h1>Welcome to GYM Manager App</h1>
  <br>
  <br>
  <nav>
    <ul>
      <a class="button" href="/members">Members</a>
      <a class="button" href="/bookings">Bookings</a>
      <a class="button" href="/gymclass">Classes</a>
    </ul>
    <br>
    <br>
  </nav>
  <%= yield %>
</body>
</html>
