
<table border="1">
  <tr>
    <th>Name</th>
    <th>Capacity</th>
    <th>Timetable</th>
    <th>Action</th>
  </tr>
  <% for gym_class in @classes%>
  <tr>
    <td><%= gym_class.name() %></td>
    <td><%= gym_class.capacity() %></td>
    <td><%= gym_class.timetable() %></td>
    <td>
      <a href="/gymclass/<%= gym_class.id()%>/delete">Delete</a>
    </td>
  </tr>
  <% end %>
</table>
<br>
<br>
<a href="gymclass/new">Add class</a>
