<form method="post" action="/gymclass">

  <label for="name">Name:</label>
  <input id="name" type="text" name="name"/>

  <label for="capacity">Capacity:</label>
  <input id="capacity" type="text" name="capacity"/>

  <label for="timetable">Timetable:</label>
  <input id="timetable" type="text" name="timetable"/>

  <input type="submit"/>

</form>
